__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --- Entornos virtuales ---
venv/
entorno/
env/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- Distribución y empaquetado ---
*.egg-info/
*.egg
dist/
build/
eggs/
sdist/
wheels/
*.whl

# --- Configuraciones de IDE ---
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# --- Cobertura y pruebas ---
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# --- Archivos de sistema operativo ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini